<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>326075174803-39fm1mgja7rn8ud8a4e8utd0mdrditjj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.326075174803-39fm1mgja7rn8ud8a4e8utd0mdrditjj</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>326075174803-10pn5pco8ijelsvnbov6rhvtsaob6s09.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBZDguKi4ssGuOoN-PCA-8WcTsB53ABJY0</string>
	<key>GCM_SENDER_ID</key>
	<string>326075174803</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.application.estatia</string>
	<key>PROJECT_ID</key>
	<string>firestore-72e4c</string>
	<key>STORAGE_BUCKET</key>
	<string>firestore-72e4c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:326075174803:ios:9a019f2d8c2a8b3cf0a266</string>
</dict>
</plist>